@import "../styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {

  .border-animated {
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }

  .border-animated::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px;
    border-radius: inherit;
    pointer-events: none;

    background: conic-gradient(from var(--angle),
        transparent,
        rgba(59, 130, 246, 0.9),
        rgba(96, 165, 250, 1),
        rgba(59, 130, 246, 0.9),
        transparent);

    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0;
    transition: opacity 0.3s ease;
    animation: border-spin 3s linear infinite;
    z-index: 1;
  }

  .border-animated>* {
    position: relative;
    z-index: 2;
  }

  .border-animated:hover::before {
    opacity: 1;
  }


  @property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes border-spin {
    to {
      --angle: 360deg;
    }
  }
}